
<div *ngIf="cache; else elseBlock">
<h1>{{ cache.name }}</h1>
<hr>
<p-tabView>
    <p-tabPanel header="Übersicht">
       <app-full-details [temp]="cache"></app-full-details>
    </p-tabPanel>
    <p-tabPanel header="Kommentare">
        <app-logs  [logs]="logs"></app-logs>
    </p-tabPanel>
    <p-tabPanel header="Header 3">
        Content 3
    </p-tabPanel>
</p-tabView>
</div>

<!-- wird angezeigt, solange noch kein Cache ausgewählt wurde -->
<ng-template #elseBlock>
  <h1>Cache aus der Liste wählen</h1>


