p {
  font-family: Lato;
}

td {
  padding: 0px;
  padding-left: 10px;
  vertical-align: top;
}

.scrolldiv {
  height: 100vh;
  overflow: auto;
}

html, body {
  margin-top: 0px;
}

div {
  margin-top: 0px;
}

.fulldiv {
  height: 50vh;
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.scrolldiv {
  height: 99vh;
}


